@media only screen and (max-width: 500px){
   a {
      margin: 10px;
      font-size: 14px;
   }
   h2{
      font-size: 14px;
   }
   h5{
      font-size: 14px;
   }
   /* NAVBAR */
   .nav-wrapper {
      max-width: 100%;
   }
   .navbar-left {
      float: left;
   }
   .navbar-right {
      float: center;
   }
   .nav-url{
      font-size: 14px;
   }
   .login-icon{
      position: absolute;
      top: -10%;
      right: -1%;
      background-image: url("../img/login.png");
      background-size: cover;
      height: 40px;
      width: 40px;
   }
   .logout-icon{
      position: absolute;
      top: -10%;
      right: -1%;
      background-image: url("../img/logout.png");
      background-size: cover;
      height: 40px;
      width: 40px;
   }
   /* HOME-PAGE */
   .index-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("/img/1.gif");
      background-size: cover;
      background-size: 120% 80%;
   }
   .new-members-header{
      top: 1%;
      right: 30%;
      color: black;
   }
   .new-members{
      top: 20%;
      right: 5%;
      width: 80%;
      height: 30%;
      font-size: 16px;
      overflow: auto;
   }
   .new-posts-header{
      top: 1%;
      left: 32%;
      color: black;
      font-size: 18px;
   }
   .new-posts{
      top: 60%;
      left: 5%;
      width: 80%;
      height: 30%;
      overflow: auto;
   }
   /* LOGIN-PAGE */
   .login-wrapper {
      position: fixed;
      top: 20%;
      left: 5%;
      height: 220px;
      width: 90%;
      border: 1px solid grey;
      background-color: #f2f2f2;
   }
   input[type=username] {
      margin-left: -40px;
      width: 90%;
      height: 20px;
      font-size: 12px;
      border: 1px solid grey;
   }
   input[type=password] {
      margin-left: -40px;
      width: 90%;
      height: 20px;
      font-size: 12px;
      border: 1px solid grey;
   }
   label[for=login-password], label[for=login-username]{
      position: absolute;
      left: 38%;
   }
   .login-btn {
      left: 35%;
   }
   h6 {
      position: absolute;
      bottom: 10%;
      left: 27%;
   }
   /* FEED-PAGE */
   .title {
      margin-left: 1px;
      font-size: 16px;
      max-width: 70%;
   }
   .votes {
      margin-top: -20px;
      left: -8%;
   }
   .post-feed{
      max-width: 70%;
   }
   .post {
      position: absolute;
      width: 80%;
      left: 15%;
   }
   .post-content {
      height: 200px;
      border: 1px solid lightgrey;
      background-color: #f2f2f2;
      padding-right: 20px;
   }
   .side-info {
      position: absolute;
      top: 10%;
      text-align: center;
      border-right: 1px solid lightgrey;
      height: 80%;
      width: 100px;
   }
   .avatar-img {
      width: 60px;
      height: 80px;
      margin-top: 5px;
   }
   .post-title {
      margin-top: -5px;
   }
   .post-description {
      top: 35%;
      margin-left: 20px;
      font-size: 12px;
   }
   .post-url {
      left: 30%;
      top: 70%;
      font-size: 10px;
      color: blue;
      width: 100px;
   }
   .img-url {
      font-size: 12px;
   }
   .member {
      top: 78%;
      left: 30%;
      font-size: 10px;
   }
   .comment-btn {
      bottom: -25%;
      right: -1%;
   }
   .edit-post-btn {
      bottom: -22%;
      right: 7%;
   }
   .post-footer{
      font-size: 10px;
      text-align: left;
      padding-top: 4px;
   }
/* CREATE-POST PAGE */
.create-post {
   position: fixed;
   top: 10%;
   left: 5%;
   width: 90%;
   height: 80%;
}
.post-btn{
   margin-top: 20px;
   margin-left: 140px;
   padding-left: 20px;
   padding-right: 20px;
   font-size: 16px;
   background-color: white;
}
label[for=create-post] {
   margin-top: 20px;
   margin-left: 20px;
}
input[type=create-post]{
   width: 310px;
   margin: 10px;
   outline: none;
   height: 25px;
   font-size: 14px;
   border: 1px solid lightgrey;
}
textarea[name=description] {
   width: 310px;
   height: 200px;
   margin: 10px;
   resize: none;
   border: 1px solid lightgrey;
   outline: none;
   font-size: 16px;
   color: black;
}
/* COMMENT PAGE */
   .comment-page{
      position: fixed;
      right: 5%;
      top: 10%;
      width: 93%;
      height: 35%;
      background-color: #f2f2f2;
      border: 1px solid lightgrey;
   }
   .comments {
      position: fixed;
      right: 4%;
      top: 59%;
      width: 90%;
      height: 33%;
      font-size: 12px;
      padding: 5px;
   }
   .comment-form{
      position: fixed;
      top: 55%;
      width: 100%;
      right: 10%;
   }
   .comment-url{
      top: 55%;
      color: blue;
      font-size: 14px;
      max-width: 90%;
   }
   textarea[name=comment]{
      position: fixed;
      bottom: 42%;
      left: 3%;
      width: 60%;
      height: 70px;
      font-size: 12px;
      resize: none;
      outline: none;
      border: 1px solid lightgrey;
      color: black;
      background-color: #f2f2f2;
   }
   .maxchar {
      position: fixed;
      top: 55%;
      left: 70%;
      font-size: 14px;
      float: none;
   }
   .post-comment{
      position: fixed;
      top: 50%;
      left: 75%;
      border-color: grey;
      font-size: 14px;
      margin-top: 5px;
   }
   .post-title {
      top: 10%;
      font-size: 16px;
   }
   .post-url {
      left: 5%;
      top: 50%;
      font-size: 16px;
   }
   .post-description {
      left: -1%;
      top: 25%;
      font-size: 14px;
      margin-right: 30px;
   }
   .post-footer{
      position: fixed;
      left: 5%;
      top: 40%;
      font-size: 10px;
      font-style: italic;
   }
   .delete-post-btn {
      padding: 5px;
      outline: none;
      border-radius: 7px;
      font-size: 10px;
      width: 70px;
   }
   .delete-post{
      top: 37%;
      left: 77%;
   }
   .edit-post-btn {
      top: 40%;
      left: 74%;
      height: 12px;
      width: 60px;
      font-size: 10px;
   }

   /* PROFILE-PAGE */
   .profile-wrapper{
      left: 4%;
      top: 8.5%;
      height: 85%;
      width: 90%;
      border: 1px solid lightgrey;
      background-color: #f2f2f2;
   }
   .profile-wrapper-online {
      position: fixed;
      left: 4%;
      top: 8.5%;
      height: 90%;
      width: 90%;
      border: 1px solid lightgrey;
      background-color: #f2f2f2;
   }

   .my-posts, .my-comments, .my-posts-header, .my-comments-header{display: none;}

   form[name=avatar] {
      position: fixed;
      top: 35%;
      left: 13%;
   }
   input[name=avatar] {
      width: 200px;
      background-color: white;
      font-size: 14px;
      border-radius: 7px;
      border: 1px solid grey;
      font-size: 14px;
   }
   span{
      font-size: 12px;
      text-align: center;
      color: black;
   }
   .dropdown {
       position: fixed;
       top: 9%;
       left: 5%;
       display: inline-block;
       background-color: white;
       border: 1px solid grey;
       border-radius: 10px;
       padding: 5px;
   }
   .dropdown-content {
       display: none;
       position: absolute;
       background-color: #f9f9f9;
       min-width: 200px;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       padding: 5px 5px;
       z-index: 1;
   }
   .dropdown:hover .dropdown-content{
       display: block;
       cursor: pointer;
   }
   .dropdown-posts{
      position: fixed;
      top: 48%;
      left: 10%;
      display: inline-block;
      background-color: white;
      border: 1px solid grey;
      border-radius: 10px;
      padding: 5px;
   }
   .dropdown-posts-content {
       display: none;
       position: absolute;
       background-color: #f9f9f9;
       min-width: 200px;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       padding: 5px 5px;
       z-index: 1;
       border: 1px solid grey;
       border-radius: 10px;
   }
   .dropdown-posts:hover .dropdown-posts-content{
       display: block;
       cursor: pointer;
       margin-top: 10px;
       padding: 10px;
   }
   .dropdown-comments{
      position: fixed;
      top: 48%;
      left: 35%;
      display: inline-block;
      background-color: white;
      border: 1px solid grey;
      border-radius: 10px;
      padding: 5px;
   }
   .dropdown-comments-content {
       display: none;
       position: absolute;
       background-color: #f9f9f9;
       min-width: 200px;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       padding: 5px 5px;
       z-index: 1;
       border: 1px solid grey;
       border-radius: 10px;
   }
   .dropdown-comments:hover .dropdown-comments-content{
       display: block;
       cursor: pointer;
       margin-top: 10px;
       padding: 10px;
   }
   .profile-avatar, .profile-avatar-online{
      left: 27%;
      width: 150px;
      height: 150px;
      margin-top: 10px;
   }
   .profile-username{
      left: 10%;
      margin-top: 20px;
   }
   .profile-username-online {
      left: 10%;
   }
   .profile-name{
      left: 10%;
      margin: 10px;
   }
   .profile-name-online {
      left: 10%;
   }
   .profile-email{
      left: 10%;
      max-width: 80%;
   }
   .profile-email-online {
      left: 10%;
   }
   .profile-password-online {
      left: 10%;
   }
   .profile-bio {
      left: 10%;
      max-width: 80%;
   }
   .profile-bio-online {
      left: 10%;
      max-width: 80%;
   }
   .profile-posts{
      left: 10%;
      margin-top: 50px;
   }
   .profile-comments{
      left: 10%;
   }
   .profile-joined{
      left: 10%;
   }
   .profile-joined-online{
      top: 21%;
      left: 40%;
      font-size: 12px;
      font-style: italic;
   }
   .upload-avatar {
      position: absolute;
      top: 110%;
      left: 35%;
      height: 25px;
      width: 100px;
      background-color: white;
      border-radius: 7px;
      border: 1px solid grey;
      font-size: 14px;
   }
   .edit {
      position: absolute;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 22px;
      left: 1%;
      width: 40px;
      height: 20px;
   }

   /* EDIT-USER */
   .register-wrapper {
      position: fixed;
      top: 9%;
      left: 2%;
      height: 80%;
      width: 90%;
   }
   .register-btn {
      position: fixed;
      left: 34%;
      bottom: 15%;
      background-color: white;
   }
   .edit-profile-wrapper {
      top: 10%;
      left: 2%;
      height: 70%;
      width: 90%;
      border: 1px solid #b3b3b3;
      background-color: #f2f2f2;
      padding: 10px;
   }
   label[for=edit-profile]{
      margin-left: 12px;
   }
   textarea[type=edit-profile]{
      font-size: 16px;
      width: 305px;
      margin-left: 13px;
      margin-bottom: 20px;
      margin-top: 10px;
   }
   textarea[type=edit-bio]{
      width: 305px;
   }
   input[type=text] {
      width: 400px;
      margin: 10px;
      outline: none;
      height: 25px;
      font-size: 14px;
      padding-left: 10px;
      margin-left: 40px;
   }
   textarea[type=email] {
      width: 310px;
      height: 25px;
      margin: 10px;
   }
   textarea[type=password] {
      width: 310px;
      height: 25px;
      margin: 10px;
   }
   label[for=text]{
      float: left;
      margin-left: 43px;
   }
   textarea[type=biography] {
      margin: 10px;
      width: 310px;
      height: 150px;
   }
   /* CREATE USER-PAGE */
   label[for=create-user]{
      margin-left: 30px;
      margin-top: 10px;
   }
   input[type=create-user] {
      width: 280px;
      margin: 10px;
      padding-left: 10px;
      margin-left: 20px;
      border: 1px solid lightgrey;
   }
   textarea[type=biography] {
      margin-left: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 285px;
   }
   .register-btn {
      position: absolute;
      left: 30%;
      bottom: 5%;
      background-color: white;
   }
   /* EDIT COMMENT-PAGE */
   .edit-comment-wrapper{
      height: 50%;
      width: 88%;
      left: 3%;
      top: 30%;
      border: 1px solid #b3b3b3;
      background-color: #f2f2f2;
      padding: 10px;
   }
   .edit-comment-btn{
      bottom: 2%;
      left: 10%;
   }
   .delete-comment-btn{
      bottom: 2%;
      left: 48%;
   }
}
